<section
  class="bg-white lg:grid lg:h-screen lg:place-content-center overflow-hidden"
>
  <div
    class="mx-auto w-screen max-w-screen-xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32"
  >
    <div class="mx-auto max-w-prose text-center">
      <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl">
        Cadastro de Partes e Consulta de Processos
      </h1>

      <p class="mt-4 text-base text-pretty text-gray-700 sm:text-lg/relaxed">
        Plataforma simples para cadastro de partes interessadas e consulta
        pública de processos judiciais via API do CNJ (DataJud).
      </p>

      <div class="mt-4 flex flex-col justify-center gap-4 sm:mt-6">
        <a
          class="inline-block rounded border border-slate-900 bg-slate-800 px-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-slate-900 cursor-pointer"
          routerLink="/partes-interessadas"
        >
          Cadastrar Partes Interessadas
        </a>

        <a
          class="inline-block rounded border border-slate-900 bg-slate-800 px-5 py-3 font-medium text-white shadow-sm transition-colors hover:bg-slate-900 cursor-pointer"
          routerLink="/consulta-processos"
        >
          Consulta de Processos
        </a>
      </div>
    </div>
  </div>
</section>
