<form>
    <label for="fullName">Nome Completo</label>
    <input type="text" name="fullName" id="fullName">

    <select name="personType" id="personType" title="personType">
        <option value="">Pessoa Física</option>
        <option value="">Pessoa Jurídica</option>
    </select>

    <label for="cpf-cnpj">CPF ou CNPJ</label>
    <input type="text" name="cpf-cnpj" id="cpf-cnpj">

    <label for="email">E-mail</label>
    <input type="email" name="email" id="email">

    <button type="button">Cadastrar</button>
</form>